<div xmlns:th="http://www.thymeleaf.org" th:fragment="inputForm">
<style>
    select {
        background-color: transparent;
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 2px;
        height: 3rem;
        border-bottom: 1px solid black;
        margin-bottom: 18px;
    }
</style>
    <div th:if="${orderBy == null}" th:with="orderBy = ${id}"/>
    <form id="expense_form"
          th:method="post"
          action="#" th:action="@{/expenses}"
          th:object="${record}"
          method="post">
        <input type="hidden" name="month" th:value="${month}"/>
        <input type="hidden" name="year" value="2016"/>
        <h5 class="center"> 2016 Tax Year </h5>
        <h2 class="center-align" th:text="${monthLabel}"/>

        <div th:if="${deleted} == 'deleted'" th:with="deleted=${null}">
            <script>
                Materialize.toast('Expense Deleted', 2000)
            </script>
        </div>
        <div th:if="${added} == 'added'" th:with="added=${null}">
            <script>
                Materialize.toast('Expense Added', 2000)
            </script>
        </div>

        <table id="expenseTable" class="striped centered">
            <thead>
            <tr>
                <th> #</th>
                <th data-field="merchant_name"><a th:href="@{/expenses(month=${month},orderBy=merchant_name)}">Merchant Name</a></th>
                <th data-field="item">Item(s)</th>
                <th data-field="description">Description</th>
                <th data-field="category">Category</th>
                <th></th>
                <th data-field="amount">Amount</th>
                <th data-field="date">Date</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="expense, stat : *{expenses}">
                <tr>
                    <input type="hidden" th:field="*{expenses[__${stat.index}__].id}"/>
                    <td th:text="'  ' + ${stat.index+1} + '  '"/>
                    <td><input type="text" id="merchantName" th:field="*{expenses[__${stat.index}__].merchantName}"/>
                    </td>
                    <td><input type="text" id="items" th:field="*{expenses[__${stat.index}__].item}"/></td>
                    <td><input type="text" th:field="*{expenses[__${stat.index}__].description}"/></td>
                    <td>
                        <select  name="category" style="display: inherit;" class="form-control cats" th:field="*{expenses[__${stat.index}__].category}">
                            <option value="">Select Category</option>
                            <th:block th:each="cat, iterationStatus : ${cats}" th:inline="text">
                                <option th:value="${cat.value}">[[${cat.value}]]</option>
                            </th:block>
                        </select>
                    </td>
                    <td><input type="text" id="amount" th:field="*{expenses[__${stat.index}__].amount}"/></td>
                    <td><input type="text" id="date" th:field="*{expenses[__${stat.index}__].date}"/></td>
                    <td>
                        <button type="submit" name="deleteExpense"
                                class="btn-floating btn-small waves-effect waves-light"
                                th:value="${stat.index}"><i class="material-icons mdi-content-remove">delete</i>
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <br/>
        <button class="center-align col s6 offset-s6 btn waves-effect waves-light mdi-content-checkmark" type="submit"
                name="addExpense">Add expense
        </button>

        <button class="center-align col s6 offset-s6 btn waves-effect  red lighten-2 waves-light mdi-content-checkmark"
                type="submit"
                name="saveList">Save Expenses
        </button>

        <div th:attr="class=${total &lt; 0 ?
        'btn red lighten-2 center-align col s6 offset-s6 btn waves-effect right waves-light' :
         'btn green lighten-2 center-align col s6 offset-s6 btn waves-effect right waves-light'}"
             th:text="'Total: $' + ${total}" readonly="readonly" >
        </div>

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" th:inline="javascript">

        var availableTags = /*[[${merchNames}]]*/ ['one_to_test', 'two_to_test'];
        var availableItems = /*[[${itemList}]]*/ ['one_to_test', 'two_to_test'];
        var availableCats = /*[[${cats}]]*/ ['one_to_test', 'two_to_test'];

        $(document).ready(function () {

            $("#merchantName").on('focus', 'input', function () {
                $("#merchantName").autocomplete({
                    source: availableTags
                });
            });

            $(document).on('focus', "#items", function () {
                $("#items").autocomplete({
                    source: availableItems
                });
            });
            $(document).on('focus', "#cats", function () {
                $("#cats").autocomplete({
                    source: availableCats
                });
            });
        });


        $(document).on('focus', ".cats", function () {
            $('.cats').editableSelect({
                effects: 'slide',
                duration: 200,
                appendTo: 'body'
            });
        });



        $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: false, // Displays dropdown below the button
                alignment: 'left' // Displays dropdown with edge aligned to the left of button
            }
        );


    </script>
</div>