<div class="row" th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
<input type="hidden"  name="month" th:value="${month}"/>
    <!-- Dropdown Structure -->
    <ul id='month-dropdown' class='dropdown-content'>
        <li><a href="/expenses?month=01">January</a></li>
        <li><a href="/expenses?month=02">February</a></li>
        <li><a href="/expenses?month=03">March</a></li>
        <li><a href="/expenses?month=04">April</a></li>
        <li><a href="/expenses?month=05">May</a></li>
        <li><a href="/expenses?month=06">June</a></li>
        <li><a href="/expenses?month=07">July</a></li>
        <li><a href="/expenses?month=08">August</a></li>
        <li><a href="/expenses?month=09">September</a></li>
        <li><a href="/expenses?month=10">October</a></li>
        <li><a href="/expenses?month=11">November</a></li>
        <li><a href="/expenses?month=12">December</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a href="/expenses">Home</a></li>
                <li><a class='dropdown-button' href='#' data-activates='month-dropdown'>Month<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </div>
    </nav>


</div>
