<div class="row" th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
<input type="hidden"  name="month" th:value="${month}"/>
    <form>
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" style="margin-left: 10%;" class="">
                    <li><button class="btn teal lighten-5 waves-effect waves-light" type="submit"
                                name="month" value="01">Jan</button></li>
                    <li><button class="btn teal lighten-4 waves-effect waves-light" type="submit"
                                name="month" value="02">Feb</button></li>
                    <li><button class="btn teal lighten-4 waves-effect waves-light" type="submit"
                                name="month" value="03">Mar</button></li>
                    <li><button class="btn teal lighten-3 waves-effect waves-light" type="submit"
                                name="month" value="04">Apr</button></li>

                    <li><button class="btn teal lighten-2 waves-effect waves-light" type="submit"
                                name="month" value="05">May</button></li>
                    <li><button class="btn teal lighten-1 waves-effect waves-light" type="submit"
                                name="month" value="06">Jun</button></li>
                    <li><button class="btn teal  waves-effect waves-light" type="submit"
                                name="month" value="07">Jul</button></li>
                    <li><button class="btn teal  waves-effect waves-light" type="submit"
                                name="month" value="08">Aug</button></li>

                    <li><button class="btn teal darken-1 waves-effect waves-light" type="submit"
                                name="month" value="09">Sep</button></li>
                    <li><button class="btn teal darken-2 waves-effect waves-light" type="submit"
                                name="month"  value="10">Oct</button></li>
                    <li><button class="btn teal darken-2 waves-effect waves-light" type="submit"
                                name="month"  value="11">Nov</button></li>
                    <li><button class="btn teal darken-4 waves-effect waves-light" type="submit"
                                name="month"  value="12">Dec</button></li>
                </ul>
            </div>
        </nav>

    </form>
</div>
